.homeStyle {
    display: flex;
    background: linear-gradient(rgb(33, 33, 33), rgb(19, 18, 18));
    flex-direction: row;
    flex-wrap: wrap;
    
    @media screen and (max-width: 820px) {
        display: flex;
        flex-direction: column;
      }
}

.outletStyle {
    flex: 1;
}

.pageStyle {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}