.sidebar {
    flex: 0.2;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    min-width: 200px;
    min-height: 100vh;
    padding: 0 10px;
}

.sidebarLogo {
    height: 60px; 
    padding: 10px;
    width: 60%;
    margin-right: auto;

    @media screen and (max-width: 820px) {
        width: 40%;
    }
 }

 .sidebarTitle {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 2px solid #212121;
 }