.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 97%;
    height: 65px;
    padding: 20px;
    background: rgb(33, 33, 33);

    @media screen and (max-width: 820px) {
        height: 110px;
        display: flex;
        flex-direction: column;
    }
}

.footer_left {
    flex: 0.3;
    display: flex;
    align-items: center;
    color: white;
    width: 300px;

    @media screen and (max-width: 820px) {
        display: flex;
    }
}

.footer_albumImg {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    object-fit: contain;

    @media screen and (max-width: 820px) {
        height: 40px;
        width: 40px;
    }
}

.footer_songInfo h4 {
    margin-bottom: 4px;

    @media screen and (max-width: 820px) {
        font-size: 12px;
    }
}

.footer_songInfo p {
    font-size: 12px;

    @media screen and (max-width: 820px) {
        font-size: 10px;
    }
}

.footer_center {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    padding: 0 100px;
    color: white;
    cursor: pointer;

    @media screen and (max-width: 820px) {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        max-width: 200px;
    }
}

.footer_greenIcon {
    color: #1ed15e;
}

.footer_greenIcon:hover,
.footer_icon:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.20) !important;
}

.footer_right {
    flex: 0.2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 400px;
}


.footer_right * .MuiSlider-root {
    color: #1ed15e;
}